<h2>Editar alumno</h2>

<%= render "form.html", changeset: @changeset,
                        action: student_path(@conn, :update, @student) %>

<%= link "Volver", to: student_path(@conn, :index) %>
