<h2>Alumno:</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @student.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @student.email %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @student.active %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @student.notes %>
  </li>


</ul>

<%= link "Editar", to: student_path(@conn, :edit, @student) %>
<%= link "Volver", to: student_path(@conn, :index) %>
