<h2>Editar interrogador</h2>

<%= render "form.html", changeset: @changeset,
                        action: teacher_path(@conn, :update, @teacher) %>

<%= link "Volver", to: teacher_path(@conn, :index) %>
