<h2>Profesor:</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @teacher.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @teacher.email %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @teacher.active %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @teacher.notes %>
  </li>

</ul>

<%= link "Edit", to: teacher_path(@conn, :edit, @teacher) %>
<%= link "Back", to: teacher_path(@conn, :index) %>
